option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
  aws:autoscaling:launchconfiguration:
    InstanceType: 't2.medium'
    SecurityGroups: sg-0ba56325a109dab48  # Replace with your security group
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '4'
  
container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"