option_settings:
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
  aws:ec2:instances:
    EnableSpot: false
    InstanceTypes: t2.medium
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      MinSize: '1'
      MaxSize: '4'
      LaunchTemplate:
        LaunchTemplateId: !Ref AWSEBLaunchTemplate
        Version: !GetAtt AWSEBLaunchTemplate.LatestVersionNumber
        
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t2.medium
        SecurityGroupIds: 
          - !Ref AWSEBSecurityGroup